@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100vh;
  min-height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

body > div {
  height: 100vh;
  width: 100vw;
}

.hero-bg {
  background-image: url('../src/assets/images/Untitled1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
